@page
@model api_auth_service.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Hello from Razor Pages!</h1>
</body>
</html>
