@page
@model api_auth_service.Pages.LogoutModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging out...</title>
</head>
<body>
    <h1>Logging out...</h1>

    <form method="post">
        <p>Logging out... you will be redirected shortly.</p>
        <button type="submit">Logout</button>
    </form>

    <script>

        function setCookie(cname, cvalue, exMins) {
            var d = new Date();
            d.setTime(d.getTime() + (exMins*60*1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        
        // Optionally, you can automatically redirect after a certain time
        setTimeout(() => {
            setCookie('googleToken','',0)
            window.location.href = '@Model.ReturnUrl'; // Redirect to ReturnUrl if provided
        }, 2000); // 2 seconds delay before redirecting
    </script>
</body>
</html>
