@page
@model api_auth_service.Pages.LogoutModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging out...</title>
</head>
<body>
    <h1>Logging out...</h1>

    <form id="logoutForm" method="post">
        <p>Logging out... you will be redirected shortly.</p>
        <button type="submit">Logout</button>
    </form>

    <script>
        function setCookie(cname, cvalue, exMins) {
            var d = new Date();
            d.setTime(d.getTime() + (exMins * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        setTimeout(() => {
            setCookie('googleToken', '', 0);

            // Creating a hidden form dynamically
            let form = document.createElement("form");
            form.method = "POST";
            form.action = window.location.href; // Submit to the same page

            document.body.appendChild(form);
            form.submit();
        }, 2000); // 2 seconds delay
    </script>
</body>
</html>
